<% provide(:title, @taxon.name) %>
<%= render "layouts/light_section", object: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "side_bar", taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12 contentsArea">
        <%= render "sort" %>
        <%= render partial: "product", collection: @products %>
      </div>
    </div>
  </div>
</section>
<!-- PARTNER LOGO SECTION -->
<%= render "layouts/partner_logo" %>
