<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= render "layouts/meta_tags" %>
    <%= render "layouts/stylesheet_link_tag" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
    <%= render "layouts/login_modal" %>
    <%= render "layouts/sign_up_modal" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
